.topbar{
    background: #bbceb2;
    overflow: hidden;
    z-index: 1;
    padding: 8px 16px;
}

.topbar a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    width: 17.75%;
}

.topbar a:hover {
    background-color: #808080;
    color: white;
}

.topbar a.active {
    background-color: #0A5C36;
    color: white;
}

.search 
{
    float: right;
    padding: 6px;
    border: black;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.bgimg 
{
    background-position: center;
    background-size: cover;
    background-image: url("1777.jpg");
    min-height: 75%;
}

.middle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title
{
    color: #000; 
    font-size: 90px;
    padding: 6px;
    border-radius: 25px;
    background-color: #bbceb2;
}

.desc
{
    text-align: center;
    font-size: 18px;
}

.disc
{
    padding: 3px 6px;
    float: right;
}

.home
{
    margin-top: 2px;
    margin-left: 2px;
    float: left;
    padding: 8px 16px;
    border-radius: 15%;
    background: #bbceb2;
    color: #000;
    text-decoration: none;
}

.home:hover
{
    background-color: #808080;
    color: white;
}